ul{
    font-size:large;
    display:flex;
    align-items: first baseline;

}
.div1{
    color:red;
}
p{
    color:red;
}
.formerly{
    color:#1c4980;
    margin:0px 21px 10px 12px;
    font-family: "Inter",sans-serif !important;
    font-size:12px;
    box-sizing:content-box;
    overflow-wrap:break-word;
display:block;
float:none;
line-height:normal;
position:static;
z-index:auto;

}
.search{
height: 36px;
background: rgba(244,246,249,.5);
border: 1px solid rgba(28,73,128,.1);
border-radius: 8px;
/* padding: 0 10px 0 30px; */
width: 300px;
margin: 0;
color: #1c4980e6;
box-sizing: border-box;
}
.login{
   padding:0px 10px 0 119px;
   height: 34px;
   background: #0073e6;
   border: 1px solid #0073e6;
   border-radius: 50px;
   justify-content: center;
   color: #fff;
   font-weight: 500;
   font-size: 12px;
   display: inline-flex;
   align-items: center;
   cursor: pointer;
   transition: .3s;
   padding: 0 15px;
   margin-left: 28px;
 }
.host{ padding:0px 10px 0 119px;
    height: 34px;
    background: #0073e6;
    border: 1px solid #0073e6;
    border-radius: 50px;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    padding: 0 15px;
    margin-left: 107px;

}

.unstop{
    margin:8px 2px 4px 130px;
}

.practice{
    position: relative;
    left: 35px;
    top: 17px;
}
.compete{
    position: relative;
    left: 45px;
    top: 17px;
}
.mentorship{
    position: relative;
    left: 55px;
    top: 23px;
}
.jobs{
    position: relative;
    left: 72px;
    top: 23px;
}
.learn1{
    position: relative;
    left: 21px;
    top: 17px;
}
.menu{
    margin-left:23px;
}
.header{  position: fixed;
    top: 0;
    left: 0;
  
  
    width: 100%;
    height: 53px;
    background: #fff;
    border-bottom: 1px solid rgba(221,229,234,.5);
    box-shadow: 0 -1px 4px #00000040;
    display: flex;
  
  

}
.connecting{
    display:flex;
    margin:20px 50px 10px 80px;
    font-size:40px;
    font-weight:400px;
    color:#1c4980;
}
.talent{
    display:flex;
    margin:10px 50px 10px 80px;
    font-size:68px;
    font-weight: 1000;
    color:#1c4980;
    line-height:1.0;
    margin-bottom:44px;

}
.learn{
    display:flexbox;
    text-align:center;
    translate:200px -215px 0px;

}
.text2{
    translate:2px 27px 8px;
    font-size:20px;
    font-weight:bold;
    color:#1c4980;
}
.practice1{
     display:flexbox;
    text-align:center;
    translate:385px -444px 0px;

}
.text3{
    translate:2px 27px 8px;
    font-size:20px;
    font-weight:bold;
    color:#562f95;
}
.mentorship1{
    text-align:center;
    translate:574px -673px 0px;


}
.text4{
    translate:2px 27px 8px;
    font-size:20px;
    font-weight:bold;
    color:#685200;
}
.compete1{
    text-align:center;
    translate:200px -665px 0px;

}
.text5{translate:-36px 27px 8px;
    font-size:20px;
    font-weight:bold;
    color:#08678f;

}
.job1{
    display:flexbox;
    text-align:center;
    translate:385px -895px 0px

}
.text6{translate:-36px 27px 8px;
    font-size:20px;
    font-weight:bold;
    color:#4c3b9e;
}
.blog1{
   
    text-align:center;
    translate:574px -1125px 0px

}
.text7{
    translate:-26px 27px 8px;
    font-size:20px;
    font-weight:bold;
    color:#a74c02;

}
.explore{
    box-sizing: content-box;
    /* display:inline-flexbox; */
    font-size: 25px;
    color:#1c4980;
    translate:70px -1400px 0px;
    line-height: 1.5;

}
h2{
    width: calc(100% - 30px);
    text-align: left;
    font-weight: 600;
    color:#1c4980;
    translate:0px -1200px 0px;
  }
  .ind{
    display:flex;
     translate:190px -1280px 0px;
    animation-name:sonu;
    animation-duration:20s;
    animation-timing-function:linear ;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal; 
   
  }
  .unilever{
    
    padding:12px 66px 3px 44px;
  }
  .flipkart{
    padding:12px 66px 3px 44px;
    
  }
  .loreal{
    
    padding:12px 66px 3px 44px;
  }
  .optum{
    
    padding:12px 66px 3px 44px;
  }
  .accenture{ 
    padding:12px 66px 3px 44px;
  }
  .wipro{ 
    padding:7px 50px 3px 44px;
  }
  .mahindra{ 
 
    padding:12px 66px 3px 44px;
  }
  .uber{ 
    padding:12px 66px 3px 44px;
  }
  .tatagroup{ 
 
    padding:12px 66px 3px 44px;
  }
  .hero{ 
    padding:2px 66px 3px 28px;
  }
  .amazon{ 
 
    padding:2px 66px 3px 44px;
  }
  .pepsico{
    padding:2px 66px 3px 44px;
  }
  .airtel{
    padding:2px 66px 3px 44px;
  }
  .icpmg{ 
    padding:2px 66px 3px 44px;
  }
  .welspun{ 
 
    padding:32px 66px 14px 44px;
  }
  .TATAsteel{ 
    padding:12px 66px 3px 44px
  }
  .tata{
    padding:2px 66px 3px 44px;
  }
  .swiss{ 
    padding:2px 66px 3px 44px;
  }
   .reliance{ 
 
    padding:2px 66px 3px 44px;
  }
  .EY{ 
    padding:2px 66px 3px 44px;
  }
.walmart{
    padding:2px 66px 3px 44px;
    

}
@keyframes sonu{
    from{
        translate:190px -1280px 0px;
        

    }
    to{
        translate:-2890px -1280px 0px;
        
    }

}
.banner{
  translate:150px -1200px 0px;
  display:flex;
  animation-name:sonu;
    animation-duration:30s;
    animation-timing-function:linear ;
    animation-delay:2s;
    animation-iteration-count:10;
    animation-direction:normal;
    
}

.b1{

  padding:2px 15px 2px 10px;
}
.b2{
  padding:2px 15px 2px 10px;
}
.b3{
  padding:2px 15px 2px 10px;
}
.b4{
  padding:2px 15px 2px 10px;
}
.b5{
  padding:2px 15px 2px 10px;
}
.b6{
  padding:2px 15px 2px 10px;
}
.main{
  display:flex;
  /* translate:150px -1000px 0px; */
}
.m1{
  display:flex;
  translate:150px -1100px 0px;
  
}
.mt1{
  translate:200px 220px 0px;
  font-size:25px;
  font-weight:700;
  color:#154177;
}
.m2{
  display:flex;
  translate:110px -1100px 0px;
  padding:0px 2px 0px 2px;
  margin:0px;
  
}
.mt2{
  
  
  translate:200px 220px 0px;
  font-size:25px;
  font-weight:700;
  color:#562f95;
}
.m3{
  display:flex;
  translate:20px -1100px 0px;
  
}
.mt3{
  translate:250px 220px 0px;
  font-size:25px;
  font-weight:700;
  color:#a74c02;
}
.ft1{
  translate:230px -1000px 0px;
  font-weight: 600;
font-size: 40px;
line-height: 140%;
color: #1c4980;
margin-bottom: 30px;
}
.ft2{
  translate:230px -1000px 0px;
  font-size: 20px;
  line-height: 16px;font-weight: 400;
  
  line-height: 140%;
  color: #1c4980;
  display: block;
  margin-top: 2px
}
.fi{
  display:flex;
}
.fp1{
  display:flex;
  translate:130px -950px 0px;
}
.fot1{
  translate:125px 10px 0px;
  font-size: 15px;
  color:#61180c;
  }
  .ft11{
    translate:80px 40px 0px;
    font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color:#61180c;}
.fp2{
  display:flex;
  translate:30px -950px 0px;
}
.fot2{
  translate:140px 20px 0px;
  font-size: 15px;
  color:#685200;
  }
  .ft12{
    translate:110px 50px 0px;
    font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color:#685200;
  }
.fp3{
  display:flex;
  translate:-60px -950px 0px;
}

.fot3{
  translate:140px 20px 0px;
  font-size: 15px;
  color:#1c4980;
  }
  .ft13{
    translate:110px 40px 0px;
    font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color:#1c4980;
  }
.fp4{
  display:flex;
  translate:-150px -950px 0px

}
    .fot4{
      translate:140px 20px 0px;
      font-size: 15px;
      color:#61180c;
      }
      .ft14{
        translate:110px 40px 0px;
        font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color:#61180c;
      }
.get{
  box-sizing: content-box;
  /* display:inline-flexbox; */
  font-size: 30px;
  color:#1c4980;
  translate:-1380px -650px 0px;
  font-weight:700;
  /* line-height: 1.5; */

}
.w1{translate:230px -780px 0px;
  font-size: 20px;
  line-height: 16px;font-weight: 400;
  
  line-height: 140%;
  color: #1c4980;
  display: block;
  margin-top: 2px

}
.im{
  display:flex;
}
.im1{
  translate:230px -800px 0px;
}
.imt1{
  translate:28px 65px 0px;
  font-size:20px;
  color:#1c4980
}
.imt11{
  translate:28px 68px 0px;
  font-size:28px;
  color:#1c4980;
  font-weight: 600;
}
.im2{
  translate:248px -800px 0px;
}
.imt2{
  translate:28px 65px 0px;
  font-size:20px;
  color:#1c4980
}
.imt21{
  translate:28px 68px 0px;
  font-size:28px;
  color:#1c4980;
  font-weight: 600;
}
.im3{
  translate:270px -800px 0px;
}
.imt3{
  translate:28px 65px 0px;
  font-size:20px;
  color:#61180c;
}
.imt31{
  translate:28px 68px 0px;
  font-size:28px;
  color:#61180c;
  font-weight: 600;
}
.im4{
  translate:290px -800px 0px;
}
.imt4{
  translate:28px 65px 0px;
  font-size:20px;
  color:#1c4980
}
.imt41{
  translate:28px 68px 0px;
  font-size:28px;
  color:#1c4980;
  font-weight: 600;
}
.last{
  translate:245px -676px 0px;
}
.our{
  translate:263px -576px 0px;
  font-size: 80px;
font-weight: 400;
line-height: 42px;
color:#1c4980;

}
.number{
  translate:413px -676px 0px;
  font-size:100px;
  font-weight:800;
  font-family: "Inter",sans-serif ;
  color:#1c4980;


}
.no{
  translate:920px -745px 0px;
  
}
.nu{
  translate:180px -700px 0px;
}
.la{
  translate:294px -624px 0px;
}
.app{
  translate:394px -147px 0px;

}
.play{
  translate:208px -90px 0px;

}
     

